header {
  min-height: 9.5rem;
  max-height: 250px;
  background: linear-gradient(to right, #a6b7db5d, rgba(63, 90, 148, 0.7) 90%),
    url(../img/bg-sea.jpeg) no-repeat;
  background-size: cover;
  border-bottom: 3px solid $secondary-color;
  color: #fff;

  .lg-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem 1rem 1rem;
  }
}

.to-do {
  grid-column: 1 / 2;
}

.done {
  grid-column: 2 / 3;
  text-align: end;
}

.current-time {
  position: absolute;
  top: 5px;
  left: 1rem;
  color: rgba(255, 255, 255, 0.7);
}
