@media (min-width: 550px) {
  .lg-wrapper {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .sm-wrapper {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 700px) {
  .sm-wrapper {
    max-width: 700px;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .lg-wrapper {
    max-width: 900px;
    margin: auto;
    padding: 2.5rem 6rem 0;
    h2:nth-child(1n + 2) {
      margin-top: 0.4rem;
    }
  }

  .current-time {
    left: 5.5rem;
  }

  .task:nth-child(1n + 2) {
    margin-top: 0.5rem;
  }

  .side-page {
    transition-duration: 0.6s;
  }
}
