main {
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

.filter-field {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// Task list
ul {
  padding: 0;
}

.task {
  position: relative;
  padding: 5px 10px;
  list-style: none;
  border: 1px solid #95b0d6;
  border-radius: 2px;
  &:nth-child(1n + 2) {
    margin-top: 1px;
  }
  &:last-child {
    margin-bottom: 2rem;
  }
  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
  }
  .mark-complete {
    right: 35px;
    color: $warm-color;
    &:hover {
      color: darken($warm-color, 30%);
    }
  }
  .delete-task {
    right: 5px;
    color: #2b5876;
    &:hover {
      color: darken(#2b5876, 15%);
    }
  }
}
