@import "_header.scss";
@import "_add-new-page.scss";
@import "_task-list.scss";

$primary-color: #444;
$secondary-color: #95b0d6;

%heading {
  margin: 0;
  padding: 0;
  font-family: "Thasadith", sans-serif;
  font-family: "Dosis", sans-serif;
}

h1 {
  @extend %heading;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  @extend %heading;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
}

h3 {
  @extend %heading;
}

a {
  text-decoration: none;
}

.fa-times-circle {
  // font-family: Arial, Helvetica, sans-serif;
}
// Forms

form {
  position: relative;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  // margin: auto;
  font-size: 1rem;
  letter-spacing: 1px;
  color: $primary-color;
  border-bottom: 1.5px solid $secondary-color;
  border-radius: 2px;
  transition: all 0.5s;
  &:focus {
    background-color: white;
    border-bottom: 2px solid $secondary-color;
  }
}

.label-up {
  top: -15px;
  font-size: 0.8rem;
  color: #4286f4;
}

label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: lighten($primary-color, 40);
  transition: all 0.4s ease-in-out;
}

// input[type="submit"] {
//   font-family: "Dosis", sans-serif;
//   text-align: center;
//   font-size: 0.9rem;
//   text-transform: uppercase;
//   letter-spacing: 1px;
// }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: $primary-color;
  font-family: "Lato", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Oxygen", sans-serif;
}
