@import "_header.scss";

$primary-color: #444;

%heading {
  margin: 0;
  padding: 0;
  font-family: "Thasadith", sans-serif;
  font-family: "Dosis", sans-serif;
}

h1 {
  @extend %heading;
}

h2 {
  @extend %heading;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
}

h3 {
  @extend %heading;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: #fff;
  font-family: "Lato", sans-serif;
}
