@import "_header.scss";
@import "_add-new-page.scss";
@import "_task-list.scss";

$primary-color: #444;

%heading {
  margin: 0;
  padding: 0;
  font-family: "Thasadith", sans-serif;
  font-family: "Dosis", sans-serif;
}

h1 {
  @extend %heading;
  font-weight: 400;
}

h2 {
  @extend %heading;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
}

h3 {
  @extend %heading;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: $primary-color;
  font-family: "Lato", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Oxygen", sans-serif;
}
